<include file="./header" />
<form class="form-horizontal" name="modify_server" id="modify_server" action="modify_server" method="post" >
    <div class="row-fluid">
       <input type="hidden" id="_id" name="_id" value="{$server['id']}"/>
        <div class="control-group">
            <label class="control-label" for="server_id">游戏服ID</label>
            <div class="controls">
                <input type="number" id="server_id" name="server_id" placeholder="游戏服ID" value="{$server['server_id']}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="server_name">游戏服名称</label>
            <div class="controls">
                <input type="text" id="server_name" name="server_name" placeholder="游戏服名称" value="{$server['server_name']}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="host">IP</label>
            <div class="controls">
                <input type="text" id="host" name="host" placeholder="IP" value="{$server['host']}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="port">端口</label>
            <div class="controls">
                <input type="number" id="port" name="port" placeholder="端口" value="{$server['port']}">
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <button id="submit_btn" name="submit_btn" class="btn btn-small btn-success">保存游戏服</button>
        <button id="submit_btn1" name="submit_btn1" class="btn btn-small btn-success">
            <a href="/zebra/Home/Server/add_server">增加游戏服</a>
        </button>
        <button id="submit_btn2" name="submit_btn2" class="btn btn-small btn-success">
            <a href="/zebra/Home/Server/choose_server">游戏服管理</a>
        </button>
    </div>
</form>
<include file="./footer" />
