<include file="./header" />
<div class="row-fluid">
    <div class="span7 infobox-container">
        <div class="infobox infobox-small infobox-dark infobox-green">
            <div class="infobox-data">
                <span class="infobox-content"><b>充值人数</b></span>
                <br>
                <span class="infobox-content"><?php echo $daily['date']['num'];?></span>
            </div>
            <?php
            if($daily['date']['num'] >= $daily['last_date']['num'])
                echo "<div class='stat stat-success'>".round(($daily['date']['num']-$daily['last_date']['num'])/$daily['last_date']['num']*100,2)."%</div>";
            else echo "<div class='stat stat-important'>".round(($daily['date']['num']-$daily['last_date']['num'])/$daily['last_date']['num']*100,2)."%</div>";
            ?>
        </div>

        <div class="infobox infobox-small infobox-dark infobox-blue">
            <div class="infobox-data">
                <span class="infobox-content"><b>充值次数</b></span>
                <br>
                <span class="infobox-content"><?php echo $daily['date']['pay_times'];?></span>
            </div>
            <?php
            if($daily['date']['pay_times'] >= $daily['last_date']['pay_times'])
            echo "<div class='stat stat-success'>".round(($daily['date']['pay_times']-$daily['last_date']['pay_times'])/$daily['last_date']['pay_times']*100,2)."%</div>";
            else echo "<div class='stat stat-important'>".round(($daily['date']['pay_times']-$daily['last_date']['pay_times'])/$daily['last_date']['pay_times']*100,2)."%</div>";
            ?>
        </div>

        <div class="infobox infobox-small infobox-dark infobox-grey">
            <div class="infobox-data">
                <span class="infobox-content"><b>充值金额</b></span>
                <br>
                <span class="infobox-content"><?php echo $daily['date']['pay'];?></span>
            </div>
            <?php
            if($daily['date']['pay'] >= $daily['last_date']['pay'])
            echo "<div class='stat stat-success'>".round(($daily['date']['pay']-$daily['last_date']['pay'])/$daily['last_date']['pay']*100,2)."%</div>";
            else echo "<div class='stat stat-important'>".round(($daily['date']['pay']-$daily['last_date']['pay'])/$daily['last_date']['pay']*100,2)."%</div>";
            ?>
        </div>
        <div class="space-6"></div>

        <div class="infobox infobox-orange2">
            <div class="infobox-data">
                <span class="infobox-data-number"><?php echo $daily['date']['new_hero'];?></span>
                <span class="infobox-content">当日新增角色</span>
            </div>
            <?php
            if($daily['date']['new_hero'] >= $daily['last_date']['new_hero'])
            echo "<div class='stat stat-success'>".round(($daily['date']['new_hero']-$daily['last_date']['new_hero'])/$daily['last_date']['new_hero']*100,2)."%</div>";
            else echo "<div class='stat stat-important'>".round(($daily['date']['new_hero']-$daily['last_date']['new_hero'])/$daily['last_date']['new_hero']*100,2)."%</div>";
            ?>
        </div>
        <div class="infobox infobox-blue2">
            <div class="infobox-data">
                <span class="infobox-data-number"><?php echo $daily['date']['new_user'];?></span>
                <span class="infobox-content">当日新增账号</span>
            </div>
            <?php
            if($daily['date']['new_user'] >= $daily['last_date']['new_user'])
            echo "<div class='stat stat-success'>".round(($daily['date']['new_user']-$daily['last_date']['new_user'])/$daily['last_date']['new_user']*100,2)."%</div>";
            else echo "<div class='stat stat-important'>".round(($daily['date']['new_user']-$daily['last_date']['new_user'])/$daily['last_date']['new_user']*100,2)."%</div>";
            ?>
        </div>
        <div class="infobox infobox-orange2">
            <div class="infobox-data">
                <span class="infobox-data-number"><?php echo $daily['date']['login'];?></span>
                <span class="infobox-content">当日角色登陆</span>
            </div>
        </div>


    </div>
</div>
<include file="./footer" />