<include file="./header" />

<script type="text/javascript">
function check(hidevalue){
    $("#hidevalue").val(hidevalue);
    $('#send_board_list').submit();
}
</script>
<div class="row-fluid">
    <a href="/zebra/Home/Operation/send_board_online">实时发布</a>
</div>

<form name="send_board_list" id="send_board_list" action="send_board_list" method="post">
<div class="row-fluid">
    <label class="control-label">发布记录</label>
	</div>
  <table id="table_report2" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
          <th class="hidden-480">序号</th>
          <th class="hidden-480">游戏服</th>
          <th class="hidden-480">当时在线人数</th>
          <th class="hidden-480">公告内容</th>
          <th class="hidden-480">发送账号</th>
          <th class="hidden-480">操作时间</th>
      </tr>
      </thead>
      <tbody>
      <?php
      $index=1;
      foreach($send_board_list as $data){
          echo "<tr><td class='hidden-480'>".$index;
          echo "</td><td class='hidden-480'>".$data['server_name'];
          echo "</td><td class='hidden-480'>".$data['onlines'];
          echo "</td><td class='hidden-480'>".$data['content'];
          echo "</td><td class='hidden-480'>".$data['username'];
          echo "</td><td class='hidden-480'>".$data['time'];
          echo "</td></tr>";
          $index++;
      }
      ?>
      </tbody>
  </table>
  <div class="row-fluid">
    <div class="span6">
      <div class="dataTables_info" id="table_report_info">共 <?php echo ceil($size/$page_size);?> 页 / <?php echo $size;?> 条记录 当前页是：<?php echo $page;?></div>
    </div>
    <div class="span6">
      <div class="dataTables_paginate paging_bootstrap pagination">
        <ul>
          <li class="next"><a href='javascript:void(0)' onclick="check(1);">首页</a></li>
          <?php
            $total=ceil($size/$page_size);
            if($page-1>0){
              echo "<li class='next'><a href='javascript:void(0)' onclick='check(".($page-1).");'>上一页</a></li>";
            }
            echo "<li class='active'><a href='javascript:void(0)' onclick='check(".($page).");'>".($page)."</a></li>";
            if($page+1<=$total){
              echo "<li><a href='javascript:void(0)' onclick='check(".($page+1).");'>".($page+1)."</a></li>";
            }
            if($page+2<=$total){
              echo "<li><a href='javascript:void(0)' onclick='check(".($page+2).");'>".($page+2)."</a></li>";
            }
            if($page+1<=$total){
              echo "<li class='next'><a href='javascript:void(0)' onclick='check(".($page+1).");'>下一页</a></li>";
            }
          ?>
          <li class="next"><a href='javascript:void(0)' onclick="check(<?php echo $total;?>);">末页</a></li>
        </ul>
      </div>
    </div>
  </div>
  	<input type="hidden" id="hidevalue" name="hidevalue"/>
</div>
</form>
<script type="text/javascript">
    var ex2 = new tableSort('table_report2',1,2,999,'','','');
</script>
<include file="./footer" />
