<include file="./header" />

<script type="text/javascript">
</script>

<form name="send_board_online" id="send_board_online" action="send_board_online" method="post">
  <div class="controls">
      <label>游戏服:
          <?php
            foreach ($servers as $server) {
              echo "<input id='checkbox_servers[]' name='checkbox_servers[]' class='ace-checkbox-2' type='checkbox' value=".$server['server_id']." ";
              foreach ($choose_servers as $choose_server) {
                if($choose_server==$server['server_id']){
                  echo " checked ";
                  break;
                }
              }
              echo " /><span class='lbl'>".$server['server_name']."</span>";
            }
          ?>
      </label>
  </div>
    <div class="row-fluid">
        <label for="send_board_online_content">公告内容</label>
        <textarea class="span6" id="send_board_online_content" name="send_board_online_content" placeholder="公告内容"></textarea>
    </div>

    <div class="row-fluid">
        <button id="send_board_online_submit_btn" name="send_board_online_submit_btn" class="btn btn-small btn-success">发布公告</button>
        <button id="send_board_online_his_btn" name="send_board_online_his_btn" class="btn btn-small btn-success"><a href="/zebra/Home/Operation/send_board">定时发布</a></button>
        <button id="send_board_online_his_btn" name="send_board_online_his_btn" class="btn btn-small btn-success"><a href="/zebra/Home/Operation/send_board_list">发布记录</a></button>
    </div>

    <?php
        echo "<p>";
        echo $send_board_ing;
        echo "</p>";
        echo "<p>";
        echo $send_board_content;
        echo "</p>";

    ?>
</form>

<include file="./footer" />
