<include file="./header" />

<form name="punish_query" id="punish_query" action="punish_query" method="post">
  <div class="controls">
      <label>游戏服:
          <?php
            foreach ($servers as $server) {
              echo "<input id='checkbox_servers' name='checkbox_servers' class='ace-checkbox-2' type='radio' value=".$server['server_id']." ";
              foreach ($choose_servers as $choose_server) {
                if($choose_server==$server['server_id']){
                  echo " checked ";
                  break;
                }
              }
              echo " /><span class='lbl'>".$server['server_name']."</span>";
            }
          ?>
      </label>
  </div>
    <div class="row-fluid">
        <label for="form-field-8">英雄UID</label>
        <textarea class="span6" id="punish_heroids" name="punish_heroids" placeholder="英雄UID，多个UID用;隔开"></textarea>
    </div>

    <div class="row-fluid">
        <button id="punish_query_btn" name="punish_query_btn" class="btn btn-small btn-success">查找</button>
    </div>

    <div class="row-fluid">
        <label class="control-label">惩罚记录</label>
        <?php
			foreach($punish_list as $punish){
				echo "<p>";
                echo "惩罚英雄:".$punish['hero_id']." 惩罚类型:";
                if($punish['flog']==0&&$punish['fbc']==0)
                    echo "无惩罚;";
                else{
                    if($punish['flog']==1){ echo " 禁言";
                        if($punish['flogTime']!=0&&$punish['flogTime']!=1) echo " 时长:".$punish['flogTime']."秒;";
                        else if($punish['flogTime']==1) echo " 已解除惩罚";
                    }else if($punish['flog']==2) echo " 永久禁言;";

                    if($punish['fbc']==1){ echo " 封号";
                        if($punish['fbcTime']!=0&&$punish['fbcTime']!=1) echo " 时长:".$punish['fbcTime']."秒;";
                        else if($punish['fbcTime']==1) echo " 已解除惩罚";
                    }else if($punish['fbc']==2) echo " 永久封号;";

                }
                echo "</p>";
        }
        ?>
    </div>
</form>
<include file="./footer" />
