</div><!--/.fluid-container#main-container-->
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>
		<!-- basic scripts -->
		<script src="/zebra/Public/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
		window.jQuery || document.write("<script src='/zebra/Public/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>
		
		<script src="/zebra/Public/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		
		<!-- ace scripts -->
		<script src="/zebra/Public/js/ace-elements.min.js"></script>
		<script src="/zebra/Public/js/ace.min.js"></script>
		<!-- inline scripts related to this page -->
