<include file="./header" />

<form name="deletehero" id="deletehero" action="deletehero" method="post">
    <div class="row-fluid">
        <label for="form-field-8">英雄UID</label>
        <textarea class="span6" id="delete_hero_heroids" name="delete_hero_heroids" placeholder="英雄UID，多个UID用;隔开"></textarea>
    </div>

    <div class="row-fluid">
        <button id="delete_hero_btn" name="delete_hero_btn" class="btn btn-small btn-success">删除</button>
    </div>

    <div class="row-fluid">
        <label class="control-label">删除记录</label>
        <?php
			foreach($delete_hero_list as $delete_hero){
				echo "<p>";
                echo "删除英雄:".$delete_hero['hero_id'];
                if($delete_hero['result']==1)  echo " ： 删除成功;";
                else  echo " ： 删除失败：原因：".$delete_hero['comments'];
                echo "</p>";
            }
        ?>
    </div>
</form>
<include file="./footer" />