<include file="./header" />

<script type="text/javascript">
	function checkradio(o,x){
		if(x=="3"){
			document.getElementById("fbc_day").disabled=true;
			document.getElementById("fbc_day").readOnly=true;
			document.getElementById("fbc_hour").disabled=true;
			document.getElementById("fbc_hour").readOnly=true;
			document.getElementById("fbc_min").disabled=true;
			document.getElementById("fbc_min").readOnly=true;
			document.getElementById("fbc_sec").disabled=true;
			document.getElementById("fbc_sec").readOnly=true;
		}else{
			document.getElementById("fbc_day").disabled=false;
			document.getElementById("fbc_day").readOnly=false;
			document.getElementById("fbc_hour").disabled=false;
			document.getElementById("fbc_hour").readOnly=false;
			document.getElementById("fbc_min").disabled=false;
			document.getElementById("fbc_min").readOnly=false;
			document.getElementById("fbc_sec").disabled=false;
			document.getElementById("fbc_sec").readOnly=false;
		}
	}
	function checktime(o,x){
		if(x=="2"){
			document.getElementById("fbc_day").disabled=true;
			document.getElementById("fbc_day").readOnly=true;
			document.getElementById("fbc_hour").disabled=true;
			document.getElementById("fbc_hour").readOnly=true;
			document.getElementById("fbc_min").disabled=true;
			document.getElementById("fbc_min").readOnly=true;
			document.getElementById("fbc_sec").disabled=true;
			document.getElementById("fbc_sec").readOnly=true;
		}else{
			document.getElementById("fbc_day").disabled=false;
			document.getElementById("fbc_day").readOnly=false;
			document.getElementById("fbc_hour").disabled=false;
			document.getElementById("fbc_hour").readOnly=false;
			document.getElementById("fbc_min").disabled=false;
			document.getElementById("fbc_min").readOnly=false;
			document.getElementById("fbc_sec").disabled=false;
			document.getElementById("fbc_sec").readOnly=false;
		}
	}
</script>

<form name="punish" id="punish" action="punish" method="post">
	<div class="row-fluid">
		<label for="form-field-8">英雄UID</label>
		<textarea class="span6" id="punish_heroids" name="punish_heroids" placeholder="英雄UID，多个UID用;隔开"></textarea>
	</div>

	<div class="row-fluid">
		<div class="control-group">
			<div class="controls">
				<label>
					<label class="control-label">惩罚类型</label>
					<label><input id="punish_type_radio" name="punish_type_radio" type="radio" value="1" onclick="checkradio(this,1)" /><span class="lbl">封号</span></label>
					<label><input id="punish_type_radio" name="punish_type_radio" type="radio" value="2" onclick="checkradio(this,2)" /><span class="lbl">禁言</span></label>
					<label><input id="punish_type_radio" name="punish_type_radio" type="radio" value="3" onclick="checkradio(this,3)" /><span class="lbl">下线</span></label>
				</label>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="control-group">
			<div class="controls">
				<label>
					<label class="control-label">惩罚时长</label>
					<label><input id="punish_time_radio" name="punish_time_radio" type="radio" value="2" onclick="checktime(this,2)" /><span class="lbl">永久</span></label>
					<label><input id="punish_time_radio" name="punish_time_radio" type="radio" value="1" onclick="checktime(this,1)" /><span class="lbl">暂时</span></label>
					<span>惩罚时长:
						<input id="fbc_day" name="fbc_day" type="number" class="input-mini" />天
						<input id="fbc_hour" name="fbc_hour" type="number" class="input-mini" />时
						<input id="fbc_min" name="fbc_min" type="number" class="input-mini" />分
						<input id="fbc_sec" name="fbc_sec" type="number" class="input-mini" />秒
					</span>
				</label>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<button id="punish_submit_btn" name="punish_submit_btn" value="10" class="btn btn-small btn-success">提交惩罚</button>
		<button id="punish_submit_btn" name="punish_submit_btn" value="20" class="btn btn-small btn-success">解除惩罚</button>
	</div>

	<div class="row-fluid">
		<label class="control-label">惩罚记录</label>
		<?php
			foreach($punish_list as $punish){
				echo "<p>";
				echo "惩罚英雄:".$punish['hero_id']." 惩罚类型:";
				if($punish['flog']==0&&$punish['fbc']==0)
					echo "无惩罚;";
				else{
					if($punish['fbc']==1){ echo " 禁言";
						if($punish['fbcTime']!=0) echo " 时长:".$punish['fbcTime']."秒;";
					}else if($punish['fbc']==2) echo " 永久禁言;";

					if($punish['flog']==1){ echo " 封号";
						if($punish['flogTime']!=0) echo " 时长:".$punish['flogTime']."秒;";
					}else if($punish['flog']==2) echo " 永久封号;";

				}
				echo "</p>";
			}
		?>
	</div>
</form>

<include file="./footer" />