<include file="./header" />

<script type="text/javascript">
</script>

<form name="send_board_online" id="send_board_online" action="send_board_online" method="post">
    <div class="row-fluid">
        <label for="form-field-8">公告内容</label>
        <textarea class="span6" id="send_board_online_content" name="send_board_online_content" placeholder="公告内容"></textarea>
    </div>

    <div class="row-fluid">
        <button id="send_board_online_submit_btn" name="send_board_online_submit_btn" class="btn btn-small btn-success">发布公告</button>
        <button id="send_board_online_his_btn" name="send_board_online_his_btn" class="btn btn-small btn-success"><a href="/zebra/Home/customer/send_board">定时发布</a></button>
        <button id="send_board_online_his_btn" name="send_board_online_his_btn" class="btn btn-small btn-success"><a href="/zebra/Home/customer/success_send_board">发布记录</a></button>
    </div>

    <?php
        echo "<p>";
        echo $send_board_ing;
        echo "</p>";
        echo "<p>";
        echo $send_board_content;
        echo "</p>";

    ?>
</form>

<include file="./footer" />