<include file="./header" />
<script type="text/javascript">
$(function() {
	new Highcharts.Chart({
        chart: {
            renderTo: 'chart_pie',  //饼状图关联html元素id值
			//defaultSeriesType: 'pie', //默认图表类型为饼状图
			plotBackgroundColor: 'white',//背景颜色
			//plotBackgroundColor: '#ffc',  //设置图表区背景色
			type: 'column',
            plotShadow: true   //设置阴影
        },
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: [
			<?php
					foreach ($retentions as $data) {
					echo "'".date('Y-m-d', $data['date'])."',";
			}?>
                         ]
        },
        yAxis: {
            title: {
                text: '百分比(%)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%',
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: '次日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[1]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '三日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[2]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '四日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[3]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '五日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[4]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '六日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[5]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '七日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[6]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '十四日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[13]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '二十一日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[20]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '三十日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[29]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '六十日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[59]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '九十日留存',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[89]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '一百八十日',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[179]/$data[0])*100,2).",";
        }?>]
        }, {
            name: '三百六十五日',
            data: [<?php
            		foreach ($retentions as $data) {
        		echo round(($data[364]/$data[0])*100,2).",";
        }?>]
        }]
    });
});

function check(){
	var $start_date = $('#start_date').val();
	var $end_date = $('#end_date').val();

	if ($start_date == "" && $end_date == "") {
		alert('查询日期不能全为空,请检查输入!');
		return false;
	}
	$('#hero_retention').submit();
}
</script>
<div class="row-fluid">
	<h3 class="header smaller lighter blue">{$title}</h3>
	<form name="hero_retention" id="hero_retention" action="hero_retention" method="post">
		<div class="controls">
				<label>平台:
						<?php
							foreach ($platforms as $platform) {
								echo "<input id='checkbox[]' name='checkbox[]' class='ace-checkbox-2' type='checkbox' value=".$platform['platform']." ";
								foreach ($choose_platforms as $choose_platform) {
									if($choose_platform==$platform['platform']){
										echo " checked ";
										break;
									}
								}
								echo " /><span class='lbl'>".$platform['name']."</span>";
							}
						?>
				</label>
		</div>

		<div class="row-fluid input-append date">
				<input type="button" class="btn btn-small" value="开始日期"/>
				<input class="span2" id="start_date"  name="start_date" data-format="yyyy-MM-dd" type="date" <?php if($start_date!=0) echo "value='".$start_date."'";?> placeholder="开始日期"/>
				<input type="button" class="btn btn-small" value="结束日期"/>
				<input class="span2" id="end_date"  name="end_date" data-format="yyyy-MM-dd" type="date" <?php if($end_date!=0) echo "value='".$end_date."'";?> placeholder="结束日期"/>
				<button class="btn btn-small" type="reset">重置</button>
				<input type="button" class="btn btn-small" value="查询" onclick="check();"/>
		</div>
	</form>
	<div id="chart_pie"></div>
</div>

<div class="row-fluid">
	<div class="table-header"></div>

	<table id="table_report"
		class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="center">日期</th>
				<th class="center">当日新增用户</th>
				<th class="center">次日留存(%)</th>
				<th class="center">三日留存(%)</th>
				<th class="center">四日留存(%)</th>
				<th class="center">五日留存(%)</th>
				<th class="center">六日留存(%)</th>
				<th class="center">七日留存(%)</th>
				<th class="center">十四日留存(%)</th>
				<th class="center">二十一日留存(%)</th>
				<th class="center">三十日留存(%)</th>
				<th class="center">六十日留存(%)</th>
				<th class="center">九十日留存(%)</th>
				<th class="center">一百八十日留存(%)</th>
				<th class="center">三百六十五日留存(%)</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($retentions as $data) {
					echo "<tr><td class='center'>";
					echo date('Y-m-d', $data['date']);
					echo "</td><td class='center'>";
					echo round($data[0]);
					echo "</td><td class='center'>";
					echo round(($data[1]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[2]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[3]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[4]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[5]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[6]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[13]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[20]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[29]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[59]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[89]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[179]/$data[0])*100,2);
					echo "</td><td class='center'>";
					echo round(($data[364]/$data[0])*100,2);
					echo "</td></tr>";
			}
		?>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	var ex1 = new tableSort('table_report',1,2,999,'up','down','hov');
</script>
<include file="./footer" />
