<include file="./header" />
<script type="text/javascript">
$(function () {
    $('#chart_pie1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '充值金额分布'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "占比",
            colorByPoint: true,
            data: [<?php
                    foreach($all_pay_statistics as $data){
                        echo "{name:'".$data['pay_part']."',y:".$data['num']."},";
                    }
            ?>]
        }]
    });

});

function check(){
    var $start_date = $('#start_date').val();
    var $end_date = $('#end_date').val();
    if ($start_date == "" && $end_date == "") {
        alert('查询日期不能全为空,请检查输入!');
        return false;
    }
    $('#recharge_amount').submit();
}
</script>
<div class="row-fluid">
    <h3 class="header smaller lighter blue">{$title}</h3>

    <form name="recharge_amount" id="recharge_amount" action="recharge_amount" method="post">
      <div class="controls">
          <label>平台:
              <?php
                foreach ($platforms as $platform) {
                  echo "<input id='checkbox[]' name='checkbox[]' class='ace-checkbox-2' type='checkbox' value=".$platform['platform']." ";
                  foreach ($choose_platforms as $choose_platform) {
                    if($choose_platform==$platform['platform']){
                      echo " checked ";
                      break;
                    }
                  }
                  echo " /><span class='lbl'>".$platform['name']."</span>";
                }
              ?>
          </label>
      </div>

        <div class="row-fluid input-append date">
            <input type="button" class="btn btn-small" value="开始日期"/>
            <input class="span2" id="start_date"  name="start_date" data-format="yyyy-MM-dd" type="date" <?php if($start_date!=0) echo "value='".$start_date."'";?> placeholder="开始日期"/>
            <input type="button" class="btn btn-small" value="结束日期"/>
            <input class="span2" id="end_date"  name="end_date" data-format="yyyy-MM-dd" type="date" <?php if($end_date!=0) echo "value='".$end_date."'";?> placeholder="结束日期"/>
            <button class="btn btn-small" type="reset">重置</button>
            <input type="button" class="btn btn-small" value="查询" onclick="check();"/>
        </div>
    </form>
</div>
<div id="chart_pie1"></div>
<div class="row-fluid">
    <div class="table-header">
        充值金额分布
    </div>
    <table id="table_report1" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="hidden-480">序号</th>
            <th class="hidden-480">平台</th>
            <th class="hidden-480">日期</th>
            <th class="hidden-480">金额段</th>
            <th class="hidden-480">人数</th>
            <th class="hidden-480">总金额</th>
        </tr>
        </thead>
        <tbody>
        <?php
                    $index=1;
                    foreach($pay_statistics as $tmpdata){
                    foreach($tmpdata as $data){
                        echo "<tr><td class='hidden-480'>".$index;
            echo "</td><td class='hidden-480'>".$data['platform'];
            echo "</td><td class='hidden-480'>".$data['date'];
            echo "</td><td class='hidden-480'>".$data['pay_part'];
            echo "</td><td class='hidden-480'>".$data['num'];
            echo "</td><td class='hidden-480'>".$data['pay'];
            echo "</td></tr>";
        $index++;
        }}
        ?>
        </tbody>
    </table>
</div>
</div>
<script type="text/javascript">
    var ex1 = new tableSort('table_report1',1,2,999,'','','');
</script>
<include file="./footer" />
